.centralize {
    display: flex;
    justify-content: center;
    text-align: center;
}

.resource-table {
    margin-top: 2em !important;
}

.resource-table td {
    text-align: center;
}

.actions-link a,
.actions-link a:hover {
    text-decoration: none;
    color: #FFF;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.navigation-buttons {
    margin-top: 3rem;
}

.clear {
    clear: both;
}

.page-link:hover {
    background-color: #dc3545 !important;
}

.page-link a {
    text-decoration: none;
    cursor: pointer;
    color: #343a40;
}

.page-link a:hover {
    text-decoration: none;
}

.page-numbers {
    color: #dc3545;
    font-weight: bold;

}

.form-group {
    margin-bottom: 2rem !important;
}

.form-label-container {
    margin-bottom: 0.5rem;
}

.logout-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}